<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Register Page</h2>

<form method="POST">
    {% csrf_token %}

    <label>First Name:</label><br>
    <input type="text" name="firstname"><br><br>

    <label>Last Name:</label><br>
    <input type="text" name="lastname"><br><br>

    <label>Username:</label><br>
    <input type="text" name="username"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <label>Password:</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Register</button>
</form>

<br>
<p style="color:red;">{{ msg }}</p>

<a href="/login/">Already have account? Login</a>

</body>
</html>